$techLang-height: 90px;
$techLang-maxImgWidth: 200px;
.tech-large{
  .box{
    border: 2px solid #b3b3b3;
    background-color: white;
    border-radius: 10px; 
    margin: 0px 15px 10px 20px;
    padding: 10px;
  }
  .img-box{
    height: $techLang-height;
    width: $techLang-maxImgWidth;
    img{
      height: $techLang-height;
    }
  }
  .tech-name{
    line-height: $techLang-height;
    font-size: 24px;
    margin: 0px;
  }
}
.tech-langs{
  padding: 0px 5px;
  .box-outer{
    background-color: white;
    padding: 5px 10px;    
  }
  .box{
    padding: 5px 15px;
    border: 1px solid #b3b3b3;
    border-radius: 3px;
    .lang-list{
      margin: 10px 0px 5px 10px;
    }
    .lang-name{
      color: #8d8d8d;
    }
  }
  .header{
    font-size: 24px;
    font-weight: bold;
  }
}