$project-detailsColor: #7f7f7f;

.project-card{
  padding: 20px 0px;
  margin: 0px 10px;
  border-bottom: 1px solid #D3D3D3;
  .proj-name{
    font-size: 18px;
    color: #276B8F;
    font-weight: bold;
  }
  .proj-details{
    .details{
      color: $project-detailsColor;
      font-size: 12px;
      .fa{
        margin-right: 10px;
      }
      .lang-dot{
        color: orange;
      }
      .star-icon{
        color: #333333;
      }
    }
  }
  .proj-desc{
    font-size: 12px;
    color: $project-detailsColor;
  }
  .proj-date{
    font-size: 10px;
    color: $project-detailsColor;
  }
}